body{

	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/d5/9e/5f/d59e5fb961a1d0ff459cdb477524821f.jpg);
	font: white;
}

img{
	margin: 10px;	
}

footer{
    text-align: center;
    background-color: #ccac86;
    bottom: 0;
    height: 40px;
    padding: 10px;
    margin-top: 65px;	
   	}

p{
	background-color: #ccac86;
	font-size: 15px;
	padding: 10px;
	margin-top: 10px;	
}

#contact-panel{
	text-align: center; 
	padding: 15px;
}
.whole-box{
	background-color: #ccac86;
}

#text-box{
	background-color: #ccac86;
	padding: 10px;
	margin: 15px;
}

#panel{
	
	text-align: center; 
	padding-right: 5px; 
	padding-left: 5px; 
	padding-top: 20px; 
	padding-bottom: 20px;
	}

#projects{
	background-color: #859ec6;

}

textarea{
	margin-top: 35px;
}
}